.header-section {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100px;
  width: 1500px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}


.logo {
  width: 200px;
  background-size: 100%;
  margin-left: 50px;
}

.middle-sec {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 26px;
  font-size: 14px;
  width: 800px;
  justify-content: space-between;
  margin-right: 300px;
}

.right-sec {
  display: flex;
  margin-right: 20px;
}

.right-sec i{
  margin-left: 10px;
}

.menu-content:hover,
.logo:hover,
.right-sec i:hover {
  cursor: pointer;
}
